.d2h-wrapper{
  /*

  Google Code style (c) Aahan Krish <geekpanth3r@gmail.com>

  */

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: black;
  }

  .hljs-comment,
  .hljs-quote {
    color: #800;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-section,
  .hljs-title,
  .hljs-name {
    color: #008;
  }

  .hljs-variable,
  .hljs-template-variable {
    color: #660;
  }

  .hljs-string,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-regexp {
    color: #080;
  }

  .hljs-literal,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-meta,
  .hljs-number,
  .hljs-link {
    color: #066;
  }

  .hljs-title,
  .hljs-doctag,
  .hljs-type,
  .hljs-attr,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-params {
    color: #606;
  }

  .hljs-attribute,
  .hljs-subst {
    color: #000;
  }

  .hljs-formula {
    background-color: #eee;
    font-style: italic;
  }

  .hljs-selector-id,
  .hljs-selector-class {
    color: #9B703F
  }

  .hljs-addition {
    background-color: #baeeba;
  }

  .hljs-deletion {
    background-color: #ffc8bd;
  }

  .hljs-doctag,
  .hljs-strong {
    font-weight: bold;
  }

  .hljs-emphasis {
    font-style: italic;
  }

}

.markdown{
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f
  }

  .hljs, .hljs-tag, .hljs-subst {
    color: #f8f8f2;
  }

  .hljs-strong, .hljs-emphasis {
    color: #a8a8a2
  }

  .hljs-bullet, .hljs-quote, .hljs-number, .hljs-regexp, .hljs-literal, .hljs-link {
    color: #ae81ff
  }

  .hljs-code, .hljs-title, .hljs-section, .hljs-selector-class {
    color: #a6e22e
  }

  .hljs-strong {
    font-weight: bold
  }

  .hljs-emphasis {
    font-style: italic
  }

  .hljs-keyword, .hljs-selector-tag, .hljs-name, .hljs-attr {
    color: #f92672
  }

  .hljs-symbol, .hljs-attribute {
    color: #66d9ef
  }

  .hljs-params, .hljs-class .hljs-title {
    color: #f8f8f2
  }

  .hljs-string, .hljs-type, .hljs-built_in, .hljs-builtin-name, .hljs-selector-id, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition, .hljs-variable, .hljs-template-variable {
    color: #e6db74
  }

  .hljs-comment, .hljs-deletion, .hljs-meta {
    color: #75715e
  }
}
